.form-container {
    padding: 1rem 3rem;
}

.form-field {
    margin: 0.25rem 0;
}
.card-body label{
    font-size: 14px;
}
.page-heading {
    font-size: 26px !important;
    font-weight: bolder ;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #F97B22 !important;;
}
.modal-scroll{
  height: 80vh;
  overflow-y: auto;
  
}

.save{
 background-color: gray !important;
}

.heading-color{
    color: #F97B22;
}


.modal-scroll::-webkit-scrollbar {
    width: 10px;
  }
.modal-scroll::-webkit-scrollbar-thumb {
    background: #F97B22;
}