.dashboard-welcome {
  padding-top: 25px;
  height: 150px;
}

.dashboard-welcome p {
  font-size: 18px;
  color: grey;
}

.advanced-options {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.appointment-calender a{
  text-decoration: none;
}
.piechart{
  max-height: 400px;
  display: flex;
  justify-content: center;
}

.nav-btns a{
  text-decoration: none;
  color: white;
}

.coll-button,.appoint-button,.del-button{
  border: none;
  color: white;
  font-size: 22px;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  min-width: 200px;
}

.appoint-button{
  background-color: #04938b; 
  padding: 15px 120px;
  min-height: 150px;
}

.coll-button{
  background-color: #04938b;
  padding: 15px 120px;
  min-height: 150px; 
}

.del-button{
  background-color: #04938b;
  padding: 15px 120px;
  min-height: 150px; 
}

.react-calendar {
  width: 90% !important;
  max-width: 100%;
  
  background: white;
  border: 1px solid #a0a096;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.125em;
}
.react-calendar__navigation button {
  min-width: 44px;
  background:#04938b !important;
  color: #ffffff;
}
.react-calendar__tile--active {
  background:#04938b !important;
  color: white;
}
.calender{
  display: flex;
  justify-content: center;
  align-items: center;

}
.appointment-heading{
   color: #04938b !important;
}

.barChart{

  position: relative; 
  height:40vh; 
  width:40vw
}

.chart-wrapper{
    height: 40vh !important;
    width: 40vw !important;
    background-color: #ffffff;
    margin: 20px 20px;
    padding: 30px;
    display: flex;
    justify-content: center;
}
.chart-main-wrappers{
   box-sizing: border-box;

}

@media screen and (max-width: 1750px) {
  .chart-wrapper{
    height: 40vh !important;
    width: 35vw !important;
    background-color: #ffffff;
    margin: 20px 20px;
    padding: 30px;
    display: flex;
    justify-content: center;
}
}
@media screen and (max-width: 1348px) {
 
  .appoint-button{
    background-color: #04938b; 
    padding: 15px 80px; 
  }
  
  .coll-button{
    background-color: #04938b;
    padding: 15px 80px; 
  }
  
  .del-button{
    background-color: #04938b;
    padding: 15px 80px; 
  
  }
  .chart-wrapper{
    height: 40vh !important;
    width: 30vw !important;
    background-color: #ffffff;
    margin: 30px 30px;
    padding: 30px;
    display: flex;
    justify-content: center;
}
}
@media screen and (max-width: 1100px) {
 
  .appoint-button{
    background-color: #04938b; 
    padding: 15px 40px;
    min-height: 150px;
 
  }
  
  .coll-button{
    background-color: #04938b;
    padding: 15px 40px;
    min-height: 150px;
 
  }
  
  .del-button{
    background-color: #04938b;
    padding: 15px 40px; 
    min-height: 150px;
  }


}