.forget-container {
     
    display: flex;
    width: 100vw;
    height: 100vh;
    align-items: center;
    justify-content: center;
    
}
.forget-container .card{

   padding: 30px;
   border-radius: 10px;

}
.forget-container .card{
  background-color: #ffffff;
}
.forget-container .card label,h2{
   color:#04938B;
   font-size: 20px;   
   
  
}
  
  
 .forget-container h2 {
    text-align: center;
    margin-bottom: 30px;
    color: #04938B;
  }
  
  .forget-container .form-group {
    margin-bottom: 20px;
  }
  
  .forget-container label {
    font-weight: bold;
  }
  
  input[type="email"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .forget-container button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #04938B !important;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
  }
  
  .forget-container button:hover {
    background-color: #04938B ;
  }
  
  @media (max-width: 768px) {
    .forget-container {
      padding: 20px;
    }
  }
  